<div class="container">
  <form ng-show="ctrl.eventsSelect">
    <div class="form-group">
      <label for="eventSelection">Choose Your Event</label>
      <select class="form-control" id="eventSelection" ng-model="ctrl.selection">
        <option ng-repeat="event in ctrl.eventObject | orderBy: 'eventsname'" ng-value="event.id">{{event.eventsname}}</option>
      </select>
    </div>
      <button type="submit" class="btn btn-primary" ng-click="ctrl.openEvent(ctrl.selection)">View</button>
  </form>
  <div ng-hide="ctrl.eventsSelect">
    <div class="row">
      <div class="col-xs-12" ng-repeat="event in ctrl.eventInfo">
        <h1>{{event.eventsname}}</h1>
        <h2>When: {{event.date}}</h2>
        <p>Time: {{event.time}}</p>
        <p>Location: {{event.location}}</p>
        <p>Contact: {{event.contact}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        hi
      </div>
      <div class="col-xs-12 col-md-6">
        hi
      </div>
    </div>
  </div>
</div>
