
    <!---Add first page buttons -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro-message">
            <h1>Get your event planned and don't sweat that sign up list...</h1>
            <hr class="intro-divider">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group float-sm-right">
                <ul class="list-inline intro-social-buttons ">
                  <li class="list-inline-item">
                    <a href="/newEvent"><button type="button" class="btn btn-primary btn-lg">Create Event</button></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="/existingEvents"><button  type="button" class="btn btn-primary btn-lg">Existing Event</button></a>
                  </li>
                </ul>
          </div>
        </div>
      </div>
    </div>



    <!---end here -->
